.category
  margin: 0
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 15px
  text-transform: uppercase
  &_blue
    color: #4592FF
  &_bluegreen
    color: #3BBDC4
  &_greyblue
    color: #6E99AE
  &_purple
    color: #AC8EE3
  &_orange
    color: #FFA34D
  &_green
    color: #3DC47E
