@media ( max-width: 1199.98px )
  .container
    width: 960px
    &_secondary
      width: 800px
  .request
    width: 160px
  .useful
    &__item
      padding: 0 17px
  .articles
    &-wrapper
      grid-template-rows: repeat(4, 235px )
    &__text
      &_inline
        max-width: 300px
    &__date
      &_light
        width: 100%
        margin-bottom: 3px
    &__author
      &-info
        justify-content: flex-start
  .dream-job
    &__caption
      padding: 12px 20px 12px 20px
      min-height: 70px
  .popular
    &__likes
      margin-left: 8px
  .tags
    &__wrapper
      padding: 45px 13px 15px 19px
  .instruments
    &__image
      height: 355px
    &__title
      padding: 25px 24px
  .social-networks
    padding: 60px 20px 40px
  .all
    &-main
      &__item
        max-height: none
    &-secondary
      flex-shrink: 0
  .other
    &__item
      width: 225px
@media ( max-width: 991.98px )
  body
    margin-top: 46px
  .container
    width: 740px
    &_secondary
      width: 620px
  .header
    &_mobile
      &_fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 99
      &_visible
        bottom: 0

  .nav-menu
    width: 100%
    &_mobile
      &_hidden
        display: none
      &_visible
        width: 100%
        display: flex
        order: 2
    &__list
      min-width: 200px
      &_mobile
        &_visible
          flex-direction: column
          align-items: center
          width: 100%
    &__item
      margin-bottom: 10px
  .request
    &_mobile
      &_hidden
        display: none
      &_visible
        display: flex
        order: 3
        width: 100%
        justify-content: center
    &__button
      width: 261px
  .menu
    &-button
      height: 12px
      width: 16px
      cursor: pointer
      &_mobile
        &_visible
          display: flex
          flex-direction: column
          justify-content: space-between
      &__line
        width: 100%
        height: 1px
        background-color: $light
        &_dark
          background-color: $dark
  .recommend
    &-content
      &__item
        padding: 45px 45px 80px
      &__title
        font-size: 37px
    &__author
      margin-bottom: 90px
    &-tabs
      max-width: 255px
      &__item
        min-height: 90px
  .modal
    &__dialog
      padding: 33px 45px
      min-width: 400px
    &__form
      flex-direction: column
    &__button
      order: 1
    &__decryption
      align-self: flex-start

  .useful
    &-wrapper
      flex-wrap: wrap
    &__item
      width: 50%
      &:nth-child(-n+2)
        margin-bottom: 20px
        position: relative
        &::after
          content: ''
          position: absolute
          bottom: -10px
          right: 17px
          left: 17px
          background-color: #4B5157
          height: 1px

  .articles
    &-wrapper
      grid-template-columns: repeat( 2, 1fr)
      grid-template-rows: repeat(8, 210px )
    &__text
      &_inline
        width: 80%
        max-width: none
  .dream-job
    &__caption
      padding: 12px 35px 12px 35px
  .instruments
    grid-column: 2
    grid-row: 3 / span 2
    &__image
      height: 310px
  .tags
    grid-column: 2
    grid-row: 7 / span 2
    &__item
      margin-right: 20px
      margin-bottom: 30px
  .file
    grid-column: 1
    grid-row: 7
  .banner
    &__title
      font-size: 33px
      line-height: 45px
  .all
    &-wrapper
      flex-wrap: wrap
    &__main
      margin-right: 0
      margin-bottom: 30px
    &-main
      max-width: 100%
    &-secondary
      max-width: 100%
      width: 100%
  .career
    &-wrapper
      grid-template-columns: 1fr
      gap: 30px
  .footer
    &-menu
      grid-template-columns: repeat(3, 1fr )
      row-gap: 30px
    &__text
      max-width: 480px
  .contacts
    flex-direction: column
    &__list
      flex-grow: 1
      justify-content: space-evenly
    &__social-networks
      align-self: center
      margin-top: 25px
  .preview
    &__title
      font-size: 40px
      line-height: 55px
    &__bookmark
      top: 82px
  .article
    padding: 40px 0
    &__block
      grid-template-columns: 1fr
    &__author
      grid-row: 1
      margin-left: auto
      margin-right: auto
      margin-top: 0
      margin-bottom: 30px
      width: 320px
      &-block
        width: 100%
    &__material
      margin-top: 0
    &__text
      max-width: 100%
      &_small
        max-width: 264px
    &-slider
      &__button
        width: 40px
        height: 40px
  .material
    &-wrapper
      display: flex
    &__image
      margin-bottom: 0
      margin-right: 20px
      height: auto
    &__article
      display: flex
      flex-wrap: wrap
  .other
    padding-bottom: 60px
    &-wrapper
      flex-wrap: wrap
    &__item
      display: flex
      flex-direction: column
      width: 48%
      &:nth-child(-n+2)
        margin-bottom: 30px
    &__title
      &-link
        flex-grow: 1
    &__image
      height: 210px
  .load
    &__icon
      margin-left: 0
@media ( max-width: 767.98px )

  .container
    width: 87%
    &_secondary
      width: 100%

  .recommend
    &-wrapper
      flex-direction: column-reverse
    &-tabs
      max-width: 100%
      &__wrapper
        display: flex
        flex-direction: row
        justify-content: space-evenly
      &__item
        padding: 14px 14px
        min-height: 20px
        text-align: center
        &:last-child
          min-height: 20px
          padding: 14px 14px
      &__category
        margin-bottom: 0
    &__description
      font-size: 12px
      line-height: 17px
      display: none

  .tags
    &__wrapper
      padding-top: 15px
      padding-right: 2px
    &__item
      margin-right: 20px
      margin-bottom: 20px
  .all
    &-main
      &__image
        width: 230px
      &__category
        margin-bottom: 11px
      &__title
        font-size: 18px
        line-height: 23px
      &__text
        font-size: 12px
        line-height: 16px
        &_mb45
          margin-bottom: 25px
  .footer
    &__title
      font-size: 34px
      line-height: 44px
    &__form
      margin-bottom: 20px
    &__input
      width: 280px
    &__logo
      margin-right: 0
      margin-bottom: 15px
    &__info
      flex-wrap: wrap
      padding-top: 25px
    &__text
      max-width: none
      margin-bottom: 15px
  .contacts
    &__menu
      flex-direction: column
      align-items: center
    &__list
      flex-direction: column
      align-items: center
    &__item
      margin-right: 0
      margin-bottom: 11px
  .preview
    &__menu
      margin-bottom: 30px
    &__title
      font-size: 30px
      line-height: 39px
    &__text
      font-size: 15px
      line-height: 22px
    &__bookmark
      top: 55px
      height: 23px
  .material
    &__image
      width: 200px
  .comment
    padding-top: 45px
    &__title
      font-size: 25px
      line-height: 35px
      margin-bottom: 20px
      &-block
        flex-direction: column
        align-items: start
      &-counter
        font-size: 25px
        line-height: 35px
    &-form
      &__title
        font-size: 15px
        line-height: 20px
      &__avatar
        width: 55px
        height: 55px

@media ( max-width: 575.98px )

  .header
    padding-top: 21px
    padding-bottom: 21px
    &__logo
      width: 99px
  .request
    &__button
      width: 100%
  .recommend
    &::before
      height: 380px
    &-wrapper
      margin-top: -350px
    &-tabs
      &__category
        font-size: 11px
      &__title
        padding: 15px 25px
        font-size: 13px
      &__item
        padding: 14px 5px
    &-content
      &__item
        padding: 25px 25px 45px
      &__category
        margin-bottom: 10px
      &__title
        margin-bottom: 40px
        font-size: 33px
        line-height: 40px
    &__author
      margin-bottom: 50px
  .useful
    &-wrapper
      padding: 25px
    &__item
      width: 100%
      padding: 0
      padding-bottom: 20px
      border: none
      border-bottom: 1px solid $text-color
      &:nth-child(3)
        margin-bottom: 20px
      &:nth-child(-n+2)
        &::after
          display: none
      &:last-child
        padding-bottom: 0

  .articles
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: 260px 250px
      grid-auto-rows: minmax(165px, auto)
    &__text
      &_inline
        margin-top: 10px
        width: 100%
        order: 1
  .dream-job
    grid-column: 1 / 2
    &__main
      padding-left: 25px
    &__caption
      flex-wrap: wrap
      padding-bottom: 15px
      padding-left: 25px
      padding-right: 25px

  .instruments
    grid-column: 1 / 2
  .tags
    grid-column: 1 / 2
    grid-row: 12
  .file
    grid-row: 11
  .social-networks
    padding: 30px 20px
    &__wrapper
      width: 240px
  .banner
    &-wrapper
      align-items: flex-start
    &__title
      font-size: 24px
      line-height: 35px
      text-align: start
  .all
    &-main
      padding: 0px 15px
      &__item
        padding: 15px 0 15px
      &__image
        width: 120px
        margin-right: 10px
      &__category
        font-size: 11px
        margin-bottom: 8px
      &__title
        font-size: 15px
        line-height: 18px
      &__text
        font-size: 11px
        line-height: 15px
        margin-bottom: 8px
      &__info
        font-size: 10px
      &__bookmark
        top: 15px
    &-secondary
      &__title
        padding: 15px
        font-size: 13px
        line-height: 15px
      &__list
        padding: 0 15px
      &__item
        padding: 15px 0
      &__image
        width: 50px
        height: 50px
      &__article
        &-title
          font-size: 13px
      &__info
        font-size: 11px
  .career
    &-articles
      grid-template-columns: 1fr
      &__main
        grid-column: span 1
      &__text
        max-width: 100%
        &_mb45
          max-width: 215px
    &-slider
      &__slide
        padding: 25px 20px 90px 25px
  .footer
    &__title
      font-size: 30px
      line-height: 35px
    &-menu
      grid-template-columns: 1fr 1fr
    &__form
      flex-direction: column
      align-items: center
      margin-bottom: 60px
    &__input
      margin-right: 0
    &__button
      margin-top: 10px
  .preview
    &__menu
      flex-wrap: wrap
      margin-bottom: 23px
    &__category
      order: 1
      margin-top: 26px
    &-nav
      width: 100%
      font-size: 12px
      min-width: auto
    &__home
      width: 14px
    &__bookmark
      left: auto
      right: 0
      top: 42px
    &__title
      font-size: 25px
      line-height: 33px
      margin-bottom: 15px
    &__text
      font-size: 13px
      line-height: 18px
      margin-bottom: 23px
  .arrow-block
    min-width: 138px
  .article
    &__author
      width: 280px
    &__avatar
      width: 70px
      height: 70px
    &__name
      font-size: 16px
      line-height: 20px
    &__first-letter
      margin-left: -4px
      padding-bottom: 20px
      font-size: 100px
      line-height: 42px
    &__text
      margin-bottom: 15px
      font-size: 14px
      line-height: 24px
      &_first
        margin-bottom: 2px
      &_small
        font-size: 13px
        line-height: 18px
      &_strong
        padding: 20px 0 16px
        &::after
          top: 0
          left: 0
          width: 55px
          height: 55px
    &__title
      font-size: 22px
      line-height: 28px
      margin-bottom: 15px
      &_mb25
        margin-bottom: 25px
    &__item
      margin-bottom: 0
    &__tags
      padding: 15px 0
      margin-bottom: 15px
    &__repost
      padding: 20px 0
      margin-bottom: 20px
    &__tags
      flex-wrap: wrap
    &__tag
      margin-bottom: 10px
    &__social-networks
      flex-wrap: wrap
    &__link
      margin-bottom: 15px
      min-width: 140px
      justify-content: space-between
    &-slider
      &-wrapper
        margin-bottom: 30px
      &__button
        width: 30px
        height: 30px
        &_prev
          left: 20px
        &_next
          right: 20px
      &__info
        flex-wrap: wrap
      &__text
        padding: 10px 20px
        font-size: 12px
        line-height: 18px
        border-bottom: $line
      &__author
        border: none
        padding-left: 20px
      &__avatar
        width: 35px
        height: 35px
      &__name
        font-size: 12px
        line-height: 16px
  .material
    &-wrapper
      flex-direction: column
    &__image
      margin-bottom: 10px
    &__article
      flex-direction: column
    &__title
      font-size: 15px
      line-height: 20px
  .other
    padding-bottom: 50px
    &__item
      width: 100%
      &:nth-child(3)
        margin-bottom: 30px
    &__title
      width: 100%
    &__info
      width: 100%
  .comment
    &__text
      font-size: 12px
      line-height: 20px
    &__avatar
      &-image
        width: 55px
        height: 55px
    &__name
      font-size: 14px
      line-height: 18px
  .answer
    padding-left: 65px
@media (max-width: 480px)
  .recommend
    &-tabs
      &__title
        padding: 10px 15px
        font-size: 13px
      &__item
        padding: 10px 5px
        &:last-child
          padding: 10px 5px
      &__category
        font-size: 9px
    &-content
      &__item
        padding: 15px 15px 45px
      &__title
        font-size: 25px
        line-height: 30px
  .modal
    &__dialog
      padding: 25px 30px
      min-width: 300px
  .articles
    &-wrapper
      grid-template-rows: 230px 240px

  .dream-job
    &__main
      background-size: 68%
    &__title
      margin-top: 15px
      margin-bottom: 10px
      font-size: 20px
      line-height: 25px
  .social-networks
    &__wrapper
      width: 210px
  .banner
    &__title
      font-size: 18px
      line-height: 28px
  .all
    &-main
      &__item
        flex-direction: column
      &__image
        order: 1
        width: 100%
        height: 210px
        margin-top: 10px
        margin-right: 0
  .career
    &-slider
      min-height: 450px
    &__title
      font-size: 24px
      line-height: 30px
    &-articles
      &__main
        padding: 25px 25px 40px
      &__text
        &_mb45
          max-width: 155px
  .footer
    padding-top: 30px
  .article
    &__author
      width: 230px
  .comment
    &-form
      padding: 30px 15px 25px 15px
    &__author
      flex-direction: column
      align-items: flex-start
    &__date
      align-self: self-start
  .answer
    padding-left: 50px

@media ( min-width: 992px )
  .button
    &:hover
      background-color: #17b01c
  .request
    &__button
      &:hover
        background-color: #17b01c
  .nav-menu__link, .footer__link
    &:hover
      border-bottom: 2px solid #656B70

  .useful
    &__title
      &:hover
        color: #22b8e5
  .articles
    &__item
      &_small
        &:hover
          background-color: #f0d6e0
  .dream-job
    &__title
      &:hover
        text-decoration: underline
  .popular__title, .instruments__title, .all-main__title, .all-secondary__article-title, .career-articles__title, .contacts__item
    &:hover
      text-decoration: underline
  .download
    &:hover
      padding-right: 15px
  .tags__item, .article__tag
    &:hover
      background-color: $info-color
      color: $light
  .social-networks__link, .footer__icon
    &:hover
      width: 47px
      height: 47px
  .all
    &-secondary
      &__link
        &:hover
          color: #17b01c

  .preview__link, .article__author-page, .material__title, .other__title, .comments__link, .articles__author, .comment__name
    &:hover
      text-decoration: underline
  .comment__link, .comment__button
    &:hover
      background-color: #9ce8ff
  .comments, .likes, .views, .rating__icon, .comment__avatar
    &:hover
      opacity: 0.5

@media (max-height: 576px)
  .modal
    &__dialog
      max-height: 310px
      overflow-y: auto
@media ( max-height: 320px)
  .header
    &_mobile
      &_visible
        overflow-y: auto
