.header
  padding: 13px 0 15px
  background-color: $dark
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    color: $light
  &__logo
    display: flex
    width: 163px
    cursor: pointer
.nav-menu
  &_mobile
    &_visible
      display: none
  &__list
    display: flex
    justify-content: space-between
    padding: 0
    min-width: 540px
    list-style: none
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
.request
  width: 261px
  &__button
    min-height: 39px
    width: 100%
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: inherit
    text-transform: uppercase
    text-align: center
    border: none
    background-color: #656B70
    border-radius: 10px
    cursor: pointer

.menu
  &-button
    &_mobile
      &_visible
        display: none
